:root{
  --main-col: #1A0C0C;
  --highlight-col: #F1B426;
  --text-col: #FFF2D4;
  --text-greyed: #b3a994;
  --margin-sm: 8px;
  --margin-sm-md: 12px;
  --margin-md: 16px;
  --margin-md-lg: 24px;
  --margin-lg: 32px;
}